In [48]:
from scipy import stats
import statsmodels.formula.api as smf
import numpy as np
import pandas as pd
import math

import nltk


#load the csv of formant data from PRAAT
formants_df = pd.read_csv("/Users/sarah/Git/qp_final/all_songs.csv")
formants_df.head()
formants_df = formants_df[(formants_df.segment == "i" )| (formants_df.segment ==  "a" )| (formants_df.segment == "u")]

In [67]:
from scipy.spatial import distance
folx = ["LO","LK","MH"]

dictS = {}

for performer in folx:
    tmp_df = formants_df[formants_df.performer == performer]
    a = tmp_df[tmp_df.segment=="a"].f1.mean()
    i = tmp_df[tmp_df.segment=="i"].f1.mean()
    u = tmp_df[tmp_df.segment== "u"].f1.mean()
    a2 = tmp_df[tmp_df.segment=="a"].f2.mean()
    i2 = tmp_df[tmp_df.segment=="i"].f2.mean()
    u2 = tmp_df[tmp_df.segment== "u"].f2.mean()
    foneS = (a + i + u )/3 
    ftwoS = (a2+i2+u2)/3
    dictS.update({performer:(foneS,ftwoS)})


dictS

{'LO': (569.6259050003295, 1415.8521323345387),
 'LK': (693.7620755684583, 1438.6183172232195),
 'MH': (758.0741804312802, 1679.2886667630698)}

,Unnamed: 0.1,Unnamed: 0,word,syll,index,segment,quantity,stressed,ictus,duration,midpoint,f1,f2,euc,fileid,performer
0,0,0,miks,miks,0,i,3,1,ictus,0.103965,1.423199,606.835891,1313.885761,707.049869,94,LK
1,1,1,sa,sa,0,a,3,1,ictus,0.125341,1.581561,674.869881,1469.899762,795.029880,94,LK
2,2,2,mullu,mul,0,ul,2,1,off,0.159480,1.728757,754.864294,1336.479715,581.615421,94,LK
3,3,3,mullu,lu,1,u,1,0,off,0.158085,1.844135,590.123359,1120.789725,530.666366,94,LK
4,4,4,meile(e)i,mei,0,ei,2,1,ictus,0.235947,2.030942,711.517330,1380.456361,668.939031,94,LK