In [1]:
import pandas as pd

data_df = pd.read_csv('regilaul_vowels.csv')

data_df.head()

,Unnamed: 0.1,Unnamed: 0,word,syll,shape,index,segment,quantity,stressed,ictus,duration,midpoint,f1,f2,fileid,performer
0,0,0,Kelle,kel,CVVC,0,e,2,1,ictus,0.159107,0.104965,469.306221,1315.902306,77,LO
1,1,1,Kelle,le,CV,1,e,1,0,off,0.280280,0.408230,603.945715,931.988824,77,LO
2,2,2,Meie,mei,CVV,0,ei,2,1,ictus,0.394162,2.673726,507.355863,1682.260595,77,LO
3,3,3,Metu,me,CVV,0,e,2,1,ictus,0.151071,5.727567,741.727764,1804.359021,77,LO
4,4,4,olid,o,V,0,o,1,1,off,0.087952,8.575493,509.045388,1044.143609,77,LO

In [2]:
r_df = data_df[["word","syll","shape","index","segment","quantity","stressed","ictus", "duration","f1","f2","fileid","performer"]].copy()
r_df.tail()

,word,syll,shape,index,segment,quantity,stressed,ictus,duration,f1,f2,fileid,performer
753,"näl´lasandi,",la,CV,1,a,1,0,x,0.155594,962.969957,1754.035377,18,MH
754,pal´lalt,pal´,CVCC,0,a,2,1,ictus,0.145970,897.374205,1575.819287,18,MH
755,pal´lalt,lalt,CVCC,1,a,2,0,x,0.120242,852.870930,1377.477503,18,MH
756,lasandi.,las,CVVVC,0,a,3,1,x,0.177864,1036.242848,1643.483780,18,MH
757,lasandi.,an,VVC,1,ɑ,2,1,ictus,0.157041,1183.283438,1566.736711,18,MH

In [3]:
labels = {"index": "foot_i", "fileid":"song"}
#make labels more descriptive for summary stats 
pd.DataFrame.rename(r_df, columns=labels, inplace=True)
r_df.tail()

,word,syll,shape,foot_i,segment,quantity,stressed,ictus,duration,f1,f2,song,performer
753,"näl´lasandi,",la,CV,1,a,1,0,x,0.155594,962.969957,1754.035377,18,MH
754,pal´lalt,pal´,CVCC,0,a,2,1,ictus,0.145970,897.374205,1575.819287,18,MH
755,pal´lalt,lalt,CVCC,1,a,2,0,x,0.120242,852.870930,1377.477503,18,MH
756,lasandi.,las,CVVVC,0,a,3,1,x,0.177864,1036.242848,1643.483780,18,MH
757,lasandi.,an,VVC,1,ɑ,2,1,ictus,0.157041,1183.283438,1566.736711,18,MH

In [4]:
#move to corpus builder!
#r_df.ictus = r_df.ictus.replace("x","off")
r_df

,word,syll,shape,foot_i,segment,quantity,stressed,ictus,duration,f1,f2,song,performer
0,Kelle,kel,CVVC,0,e,2,1,ictus,0.159107,469.306221,1315.902306,77,LO
1,Kelle,le,CV,1,e,1,0,off,0.280280,603.945715,931.988824,77,LO
2,Meie,mei,CVV,0,ei,2,1,ictus,0.394162,507.355863,1682.260595,77,LO
3,Metu,me,CVV,0,e,2,1,ictus,0.151071,741.727764,1804.359021,77,LO
4,olid,o,V,0,o,1,1,off,0.087952,509.045388,1044.143609,77,LO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,"näl´lasandi,",la,CV,1,a,1,0,off,0.155594,962.969957,1754.035377,18,MH
754,pal´lalt,pal´,CVCC,0,a,2,1,ictus,0.145970,897.374205,1575.819287,18,MH
755,pal´lalt,lalt,CVCC,1,a,2,0,off,0.120242,852.870930,1377.477503,18,MH
756,lasandi.,las,CVVVC,0,a,3,1,off,0.177864,1036.242848,1643.483780,18,MH
757,lasandi.,an,VVC,1,ɑ,2,1,ictus,0.157041,1183.283438,1566.736711,18,MH

In [5]:
r_df.segment.unique()

array(['e', 'ei', 'o', 'ɪ', 'a', 'ɵi', 'u', 'ɵu', 'al', 'i', 'aː', 'ɵ',
       'ɛ', 'y', 'æ', 'ol', 'ɵe', 'ɑ', 'oe', 'au', 'ea', 'il', 'ae',
       'ull', 'eeː', 'oi', 'ʊ', 'ui', 'iiː', 'uiː', 'ɵː', 'yi', 'uː',
       'iː', 'eː', 'l', 'ul', 'æi', 'ɵii', 'yyː', 'øː', 'ee', 'el', 'ell',
       'ju', 'ja', 'æː', 'oː', 'ai', 'a(i)', 'øøː', 'eil', 'eiː', 'yl',
       'yy', 'ɵɵ', 'ææ', 'oo', 'aa'], dtype=object)

In [12]:
#remove all the diphthongs (different phonematic status than long and overlong V)


#r_df = r_df[r_df['segment'].str.len() == 1]

#put off approximant codas until diphthong analysis: 
r_df = r_df[r_df['segment'].str.contains('l')==False]
r_df = r_df[r_df['segment'].str.contains('j')==False]
r_df = r_df[r_df['segment'].str.contains('ʎ')==False]
r_df = r_df[r_df['segment'].str.contains('y')==False]


r_df = r_df[r_df['segment'].str.contains('ei')==False]
r_df = r_df[r_df['segment'].str.contains('ea')==False]

r_df = r_df[r_df['segment'].str.contains('æi')==False]
r_df = r_df[r_df['segment'].str.contains('ui')==False]
r_df = r_df[r_df['segment'].str.contains('oi')==False]
r_df = r_df[r_df['segment'].str.contains('ae')==False]
r_df = r_df[r_df['segment'].str.contains('\(')==False]

r_df = r_df[r_df['segment'].str.contains('oe')==False]

r_df = r_df[r_df['segment'].str.contains('au')==False]
r_df = r_df[r_df['segment'].str.contains('ai')==False]
r_df = r_df[r_df['segment'].str.contains('yi')==False]
r_df = r_df[r_df['segment'].str.contains('ɵi')==False]
r_df = r_df[r_df['segment'].str.contains('ɵe')==False]
r_df = r_df[r_df['segment'].str.contains('ɵu')==False]




r_df.segment.unique()

array(['e', 'o', 'ɪ', 'a', 'u', 'i', 'aː', 'ɵ', 'ɛ', 'æ', 'ɑ', 'eeː', 'ʊ',
       'iiː', 'ɵː', 'uː', 'iː', 'eː', 'øː', 'ee', 'æː', 'oː', 'øøː', 'ɵɵ',
       'ææ', 'oo', 'aa'], dtype=object)

In [13]:
#r_df["qual_id"] = r_df['segment'].str[0]
r_df.head()

,word,syll,shape,foot_i,segment,quantity,stressed,ictus,duration,f1,f2,song,performer
0,Kelle,kel,CVVC,0,e,2,1,ictus,0.159107,469.306221,1315.902306,77,LO
1,Kelle,le,CV,1,e,1,0,off,0.280280,603.945715,931.988824,77,LO
3,Metu,me,CVV,0,e,2,1,ictus,0.151071,741.727764,1804.359021,77,LO
4,olid,o,V,0,o,1,1,off,0.087952,509.045388,1044.143609,77,LO
5,olid,lid,CVVC,1,ɪ,2,0,off,0.082333,577.486222,929.441886,77,LO

In [14]:
#vowel space center of gravity for each performer 
dictS = {'LO': (569.6259050003295, 1415.8521323345387),
 'LK': (693.7620755684583, 1438.6183172232195),
 'MH': (758.0741804312802, 1679.2886667630698)}

In [15]:
fonelist = r_df.f1.tolist()
ftwoList = r_df.f2.tolist()
perfList = r_df.performer.tolist()

tupList = list(zip(fonelist,ftwoList,perfList))

In [16]:
from scipy.spatial import distance
#calculate euclidean distance from F1, F2 values
euclid = []
for element in tupList:
    fx, fy = element[0], element[1]
    key = element[2]
    p_s = dictS.get(key)
    euc = distance.euclidean(p_s,[fx,fy])
    euclid.append(euc)
    

r_df["euclid"] = euclid
r_df.tail()

/Users/sarah/miniconda3/envs/soundmines/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

,word,syll,shape,foot_i,segment,quantity,stressed,ictus,duration,f1,f2,song,performer,euclid
753,"näl´lasandi,",la,CV,1,a,1,0,off,0.155594,962.969957,1754.035377,18,MH,218.103989
754,pal´lalt,pal´,CVCC,0,a,2,1,ictus,0.145970,897.374205,1575.819287,18,MH,173.523513
755,pal´lalt,lalt,CVCC,1,a,2,0,off,0.120242,852.870930,1377.477503,18,MH,316.348546
756,lasandi.,las,CVVVC,0,a,3,1,off,0.177864,1036.242848,1643.483780,18,MH,280.463541
757,lasandi.,an,VVC,1,ɑ,2,1,ictus,0.157041,1183.283438,1566.736711,18,MH,439.853221

In [17]:
import os
regi_clean = (open('vowel_master.csv','w'))
r_df.to_csv(regi_clean)
regi_clean.close()

In [19]:
r_df

,word,syll,shape,foot_i,segment,quantity,stressed,ictus,duration,f1,f2,song,performer,euclid
0,Kelle,kel,CVVC,0,e,2,1,ictus,0.159107,469.306221,1315.902306,77,LO,141.612171
1,Kelle,le,CV,1,e,1,0,off,0.280280,603.945715,931.988824,77,LO,485.078911
3,Metu,me,CVV,0,e,2,1,ictus,0.151071,741.727764,1804.359021,77,LO,424.919583
4,olid,o,V,0,o,1,1,off,0.087952,509.045388,1044.143609,77,LO,376.612832
5,olid,lid,CVVC,1,ɪ,2,0,off,0.082333,577.486222,929.441886,77,LO,486.473753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753,"näl´lasandi,",la,CV,1,a,1,0,off,0.155594,962.969957,1754.035377,18,MH,218.103989
754,pal´lalt,pal´,CVCC,0,a,2,1,ictus,0.145970,897.374205,1575.819287,18,MH,173.523513
755,pal´lalt,lalt,CVCC,1,a,2,0,off,0.120242,852.870930,1377.477503,18,MH,316.348546
756,lasandi.,las,CVVVC,0,a,3,1,off,0.177864,1036.242848,1643.483780,18,MH,280.463541
757,lasandi.,an,VVC,1,ɑ,2,1,ictus,0.157041,1183.283438,1566.736711,18,MH,439.853221